
/**
 * DIMENSIONS
 * ==========
 *
 * Container
 * ---------
 *
 * Important variables for grid building.
 */

$containerWidth: 88rem;
$containerPadding: 1rem;

/**
 * Layout
 * ------
 */

$navPaddingVertical: 2rem;
$menuHeight: 3.25rem;
$heroImageWidth: 48%;
$menuWrapperWidth: 28%;