
/**
 * INDEXES
 * -------
 *
 * Define your indexes here
 *
 * i: Start your index name with "index" keyword
 * e: $indexHeader: 1;
 */

/**
 * Layout
 * ------
 */

$indexRouterCellBackground: 80;
$indexRouterCellBackgroundShadow: 85;
$indexRouterCellContent: 90;