{
    "extends": "standard",
    "rules": {
        "eol-last": "off",
        "semi": "off",
        "padded-blocks": "off",
        "space-before-function-paren": "off",
        "indent": "off",
        "one-var": "off",
        "curly": "off"
    }
}
