<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Milan Kyncl <kontakt@milankyncl.cz>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website name - {% block title %}{% endblock %}</title>
    <link href="assets/css/vendor.css" rel="stylesheet" media="all">
    <link href="assets/css/style.css" rel="stylesheet" media="all">
    <link href="assets/css/shame.css" rel="stylesheet" media="all">
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>
